@page "/Aktualnosci"

<head>
    <link href="../css/aktualnosci_style.css" rel="stylesheet" />
</head>

<header class="align-content-center" id="aktualnosci-header">
    <div class="bacground-img"></div>

    <div class="header-content">
        <h1>ZSAT E-SPORT AKTUALNOŚCI</h1>
        <div class="heading-underline-container">
            <div class="underline"></div>
        </div>
    </div>
</header>
<!-- End of header -->
<!--Media -->
<section id="sponsorzy" class="offset">
    <div class="text-center">
        <a target="_blank" href="https://mrowka.com.pl/"><img src="../sponsorzy/psb.png" /></a>
        <a target="_blank" href="https://comaxpc.pl"><img src="../sponsorzy/comax.png" /></a>
        <a target="_blank" href="http://pukawka.pl/"><img src="../sponsorzy/Pukawka.png" /></a>
        <a target="_blank" href="https://www.facebook.com/Rozat.Kebab.Ropczyce/"><img src="../sponsorzy/Rozat.png" /></a>
        <a target="_blank" href="https://jakubbachorz.com/blog"><img src="../sponsorzy/bachorz.png" /></a>
        <a target="_blank" href="http://www.zsat-ropczyce.pl/"><img src="../sponsorzy/zsat.png" /></a>
        <a target="_blank" href="https://www.facebook.com/ubezpieczenia.marta.agent/?eid=ARCIi9PTasR90w4AhM9t7Vd6aGn_64w1ccbSARqTyCLmHfva_MD9WUi6kolbjyYxvWs3OkBv5Deu3aVh&timeline_context_item_type=intro_card_work&timeline_context_item_source=100002561449595&fref=tag"><img src="../sponsorzy/Marta.png" /></a>
        <a target="_blank" href="https://mightyfive.pl/"><img src="../sponsorzy/logo.png" /></a>
        <a target="_blank" href="https://www.facebook.com/askonet/"><img src="../sponsorzy/73104130_457768884833993_5112946115330703360_n.png" /></a>
        <a target="_blank" href="https://www.facebook.com/teetresesport/"><img src="../sponsorzy/tetres.png" /></a>


    </div>
</section>

<div class="mainFlexContainer">
    <!-- Main -->
    <main>

        <div class="title text-center">
            <h3 class="title-txt">Najnowsze Posty</h3>
            <div class="heading-underline"></div>
        </div>




        <section id="posty">

            <div class="container">
                <div class="img-container">
                    <img src="../images/ważne.png" alt="ważne.png" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/alert.png" alt="fire.jpg">
                    <h1>
                        Ważna informacja
                    </h1>
                    <p>
                        Ze względu na sprawy techniczne, maksymalna ilość drużyn została zmniejszona do 8!
                        ZOSTAŁY 2 WOLNE MIEJSCA!
                        ŚPIESZCIE SIĘ !!
                    </p>
                    <div class="details">
                        <p class="data">Opublikowany:19.02.2020</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="Ważne Informacje">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

            <div class="container">
                <div class="img-container">
                    <img src="../resources/tft2.png" alt="finały.jpg" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/info.png" alt="fire.jpg">
                    <h1>
                        TFT 2020
                    </h1>
                    <p>
                        Ekipa Ezsat ma przyjemność ogłosić, że zapisy do turnieju TFT: Teamfight Tactics 2020 są otwarte! Odbędzie się on podczas głównego wydarzenia - turnieju z League of Legends.

                    </p>
                    <div class="details">
                        <p class="data">Opublikowany:06.02.2012</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="TFT 2020">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

            <div class="container">
                <div class="img-container">
                    <img src="../resources/jinx.png" alt="finały.jpg" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/info.png" alt="fire.jpg">
                    <h1>
                        Legends of Runeterra 2020
                    </h1>
                    <p>
                        Ekipa Ezsat ma przyjemność ogłosić, że zapisy do turnieju League of Legends 2020 są otwarte!

                        Obowiązuje wpisowe w wysokości 50 zł od drużyny.
                    </p>
                    <div class="details">
                        <p class="data">Opublikowany:06.02.2012</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="League of Legends 2020">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

            <div class="container">
                <div class="img-container">
                    <img src="../resources/plakat LOL.png" alt="finały.jpg" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/fire.jpg" alt="fire.jpg">
                    <h1>
                        League of Legends 2020
                    </h1>
                    <p>
                        Ekipa Ezsat ma przyjemność ogłosić, że zapisy do turnieju League of Legends 2020 są otwarte!

                        Obowiązuje wpisowe w wysokości 50 zł od drużyny.
                    </p>
                    <div class="details">
                        <p class="data">Opublikowany:06.02.2012</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="League of Legends 2020">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

            <div class="container">
                <div class="img-container">
                    <img src="../images/finały.jpg" alt="finały.jpg" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/fire.jpg" alt="fire.jpg">
                    <h1>
                        Finały!
                    </h1>
                    <p>
                        Dzisiaj, tj. 06.12, zostały rozegrane finały w ZSAT w Ropczycach.
                        W pojedynku finalowym zmierzyły się SZOKI VS Piodżomy
                        z czego finałową drużyną została drużyna SZOKI!
                    </p>
                    <div class="details">
                        <p class="data">Opublikowany:06.12.2019</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="Wyniki Cs-Go 2019">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

            <div class="container">
                <div class="img-container">
                    <img src="../resources/Cwiercfinaly_overlay (2).png" alt="Alternate Text" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/info.png" alt="#">
                    <h1>
                        Finały!
                    </h1>
                    <p>
                        Półfinały, oraz finały odbędą się 6 grudnia. Mam zaszczyt zaprosić wszystkich chętnych do oglądania rozgrywek finałowych które odbędą się na auli w zespole szkół agro-technicznych w Ropczycach! W czwartek rozpoczynamy od godziny 13 natomiast w piątek już od 9!
                    </p>
                    <div class="details">
                        <p class="data">Opublikowany:03.12.2019</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="Finały! CS-Go 2019">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

            <div class="container">
                <div class="img-container">
                    <img src="../resources/faza grupowa-standingsver2.png" alt="Alternate Text" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/fire.jpg" alt="#">
                    <h1>
                        Tabela rozgrywek grupowych!
                    </h1>
                    <p>
                        Mamy ogromną przyjemność zaprezentować wam tabelę grup w których drużyny będą rozgrywały mecze BO1, Grup jest 5 po 6 drużyn. Z każdej grupy wyjdą tylko dwie drużyny.

                    </p>
                    <div class="details">
                        <p class="data">Opublikowany:18.11.2019</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="Tabela rozgrywek grupowych!">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

            <div class="container">
                <div class="img-container">
                    <img src="../images/icon-handshake.png" alt="Alternate Text" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/info.png" alt="#">
                    <h1>
                        Sponsorzy!
                    </h1>
                    <p>
                        Nasze turnieje wspiera duża ilość sponsorów! Są to między innymi: MK Piekarnia, Mrówka, Comax, Play, Pukawka, Askonet, Rożat Kebab, Rop-Med, Biuro ubezpieczeniowe i kredytowe "Marta", jakubbachorz.com oraz Mighty Five!

                    </p>
                    <div class="details">
                        <p class="data">Opublikowany: 26.10.2019</p>
                        <p class="autor">Autor: Łukasz Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="Sponsorzy!">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>


            <div class="container">
                <div class="img-container">
                    <img src="../resources/cs-go-bac.jpg" alt="Cs-Go" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/fire.jpg" alt="fire">
                    <h1>
                        Nowy CS-GO Turniej!
                    </h1>
                    <p>
                        Niezmiernie miło nam poinformować że zapisy na III Edycję Z-sat Esport Masters 2019 Counter Strike : Global Offensive są otwarte! Jest to kolejna edycja nieopisanych emocji oraz rywalizacji!
                    </p>
                    <div class="details">
                        <p class="data">Opublikowany: 26.10.2019</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>

                    <NavLink class="see_more" href="Nowy CS-GO Turniej!">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

            <div class="container">
                <div class="img-container">
                    <img src="../resources/NavbarLogo.png" alt="EZSAT" />
                </div>
                <div class="content-container">
                    <img class="topic-img" src="../resources/info.png" alt="#">
                    <h1>
                        Nowa Strona!
                    </h1>
                    <p>
                        Witajcie! Jest to nowa era dla naszej organizacji, nowy organizator, nowe gry z których przeprowadzimy (informacje już wkrótce!), w związku z czym odświeżamy dla was stronę.
                    </p>
                    <div class="details">
                        <p class="data">Opublikowany: 26.10.2019</p>
                        <p class="autor">Autor: Jakub Owczarek</p>
                    </div>
                    <NavLink class="see_more" href="Nowa Strona!">
                        Czytaj wiecej
                    </NavLink>
                </div>
            </div>

        </section>


    </main>
</div>

