@page "/Informacje"

<head>
    <link href="../css/informacje-style.css" rel="stylesheet" />
</head>


<!-- Header -->
<!-- Header -->
<header class="align-content-center" id="aktualnosci-header">

    <div class="header-content">
        <h1>League of Legends 2020</h1>
        <div class="heading-underline-container">
            <div class="underline"></div>
        </div>
        <div class="join_button">
            <a target="_blank" href="https://battlefy.com/zsa-t-e-sport/iv-edycja-turnieju-e-zsat-league-of-legends/5e39f540eef7fc1093075b4b/info?infoTab=details&fbclid=IwAR30F6HI27q3ZUUP-KjsjskM1iIg7irc2ufrQzDcWF317YVG6-7rEKXbJTo">Dołącz do turnieju</a>
        </div>
    </div>
</header>
<!-- End of header -->
<!-- End of header -->
<!--Media -->
<section id="sponsorzy" class="offset">
    <div class="text-center">
        <a target="_blank" href="https://mrowka.com.pl/"><img src="../sponsorzy/psb.png" /></a>
        <a target="_blank" href="https://comaxpc.pl"><img src="../sponsorzy/comax.png" /></a>
        <a target="_blank" href="http://pukawka.pl/"><img src="../sponsorzy/Pukawka.png" /></a>
        <a target="_blank" href="https://www.facebook.com/Rozat.Kebab.Ropczyce/"><img src="../sponsorzy/Rozat.png" /></a>
        <a target="_blank" href="https://jakubbachorz.com/blog"><img src="../sponsorzy/bachorz.png" /></a>
        <a target="_blank" href="http://www.zsat-ropczyce.pl/"><img src="../sponsorzy/zsat.png" /></a>
        <a target="_blank" href="https://www.facebook.com/ubezpieczenia.marta.agent/?eid=ARCIi9PTasR90w4AhM9t7Vd6aGn_64w1ccbSARqTyCLmHfva_MD9WUi6kolbjyYxvWs3OkBv5Deu3aVh&timeline_context_item_type=intro_card_work&timeline_context_item_source=100002561449595&fref=tag"><img src="../sponsorzy/Marta.png" /></a>
        <a target="_blank" href="https://mightyfive.pl/"><img src="../sponsorzy/logo.png" /></a>
        <a target="_blank" href="https://www.facebook.com/askonet/"><img src="../sponsorzy/73104130_457768884833993_5112946115330703360_n.png" /></a>
        <a target="_blank" href="https://www.facebook.com/teetresesport/"><img src="../sponsorzy/tetres.png" /></a>


    </div>
</section>


<!-- Media -->
<div class="mainFlexContainer">
    <main>

        <!-- Video Section -->
        <section id="promotion-video">
            <div class="video-container align-items-center">
                <iframe src="https://www.youtube.com/embed/km7Glc6B6qs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
        <!-- End of video section -->
        <!-- Welcoming section -->
        <section class="text-center" id="welcoming">
            <h2>Witajcie!</h2>

            <p>Jesteśmy organizacją turniejów esportowych. Jest to organizacja non profit. Zapraszamy do udziału w naszym turnieju, gwarantujemy niezapomniane emocje!</p>
        </section>
        <!-- End of Welcoming section -->
        <!-- Schedule section -->
        <section id="schedule">
            <div class="row ">
                <div class="col-lg-5 ">

                    <div class="schedule-container">

                        <h3>Rozklad turnieju League Of Legends</h3>

                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Rozpoczęcie Zapisów: </td>
                                    <td class="date">06.02.2020</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Zakonczenie Zapisów: </td>
                                    <td class="date">23.02.2020</td>
                                </tr>
                                <tr>
                                    <td>Rozpoczęcie Rozgrywek Grupwych: </td>
                                    <td class="date">24.02.2020</td>
                                </tr>
                                <tr>
                                    <td>Zakończenie Rozgrywek Grupwych: </td>
                                    <td class="date">19.03.2020</td>
                                </tr>
                                <tr>
                                    <td>Ćwierćfinały: </td>
                                    <td class="date">20.03.2020</td>
                                </tr>
                                <tr>
                                    <td>Finały: </td>
                                    <td class="date">24.03.2020</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="col-lg-7 rules ">
                    <h3>Zasady turnieju</h3>
                    <p class="sentence">E-ZSAT to ekipa e-sportowa organizująca turnieje, podczas których rywalizują ze sobą gracze w wielu gier. Team E-ZSAT obejmuje organizację szkolnych i międzyszkolnych rozgrywek ligowych i turniejów, takich jak Masters Counter-Strike: Global Offensive, League of Legends. Oto instrukcja pomagająca w rejestracji do turnieju:</p>
                    <p class="sentence">Wypełnianie formularza rejestracyjnego. Wymagamy podanie poprawnego adresu e-mail, imienia, nazwiska, pseudonimu, dywizji, klasa, linii. Należy również potwierdzić że zapoznałem/am się z Regulaminem E-ZSAT, a także przeczytać i zaakceptować warunki ochrony i wykorzystania danych. Gdy wszystko jest gotowe wystarczy kliknąć przycisk „Zapisz się”.</p>
                    <p class="sentence">Potwierdzenie rejestracji. Po wysłaniu danych, otrzymasz e-mail od administratora, czy możesz brać udział w turnieju. Uwaga: Możliwe, że twoja skrzynka pocztowa potraktuje naszą automatyczną wiadomość jako spam! Sprawdź folder „spam” w przypadku braku naszego maila.</p>
                    <p class="sentence">Uwaga! Każdy uczestnik musi się zapisać. Jeśli twoja drużyna nie jest na liście albo się pomyliłeś, skontaktuj się na adres E-mail ezsat.kontakt@gmail.com</p>
                </div>
            </div>
        </section>
        <!-- End of Schedule section -->
        <!-- Information section -->
        <section id="information">

            <div class="content">
                <div class="row text-center">

                    <div class="col-md-12 download">
                        <div class="title text-center">
                            <h3 class="title-txt">Do pobrania</h3>
                            <div class="heading-underline"></div>
                        </div>
                        <p><span id="regulamin"><a target="_blank" href="../Dokumenty/regulamin-csgo.pdf" title="regulamin">REGULAMIN E-ZSAT</a></span></p>
                        <p><span id="zgoda"><a target="_blank" href="../Dokumenty/zgoda_rodzica.pdf" title="zgoda_rodzica">ZGODA RODZICA E-ZSAT</a></span></p>
                        <p><span id="rodo"><a target="_blank" href="../Dokumenty/Polityka-ochrony-danych-osobowych.pdf" title="RODO">RODO E-ZSAT</a></span></p>

                    </div>
                </div>
            </div>
        </section>
        <!-- End of Information section -->
    </main>
</div>