@page "/Sponsorzy!"

<head>
    <link href="../css/post-details.css" rel="stylesheet" />
</head>
<div class="mainFlexContainer">
        <article class="post_container">

            <div class="title_container">
                <h3 class="post_title">Sponsorzy</h3>
            </div>

            <div class="content-container-post">

                <div class="img-container-post">
                    <img class="top-img" src="../images/icon-handshake.png" />
                </div>

                <div class="paragraph">
                    Kto nas sponsoruje?
                    <br />
                    <br />
                    Nasze turnieje wspiera duża ilość sponsorów! Są to między innymi: MK Piekarnia, Mrówka, Comax, Play, Pukawka, Askonet, Rożat Kebab, Rop-Med, Biuro ubezpieczeniowe i kredytowe "Marta", jakubbachorz.com oraz Mighty Five!
                </div>

                <div class="paragraph">
                    Dzięki nim, nasze turnieje wskakują na wyższy poziom. Ich wsparcie pomaga nam w dostarczeniu dla was wspaniałych nagród!
                </div>

                <div class="paragraph">
                    Nagrody za wygranie turnieju podamy w najbliższym czasie. Dlatego zapraszam do śledzenia naszej strony internetowej oraz facebookowej!
                </div>



                <div class="autor_container">
                    Autor: Łukasz Owczarek
                </div>

                <div class="date_container">
                    Opublikowany: 26.10.2019
                </div>

            </div>


        </article>
</div>
