@page "/Legends of Runeterra 2020"

<head>
    <link href="../css/post-details.css" rel="stylesheet" />
</head>
<div class="mainFlexContainer">
        <article class="post_container">

            <div class="title_container">
                <h3 class="post_title">Legends of Runeterra 2020</h3>
            </div>

            <div class="content-container-post">

                <div class="img-container-post">
                    <img class="top-img" src="../resources/jinx.png" alt="jinx.png" />
                </div>

                <div class="paragraph">
                    Ekipa Ezsat ma przyjemność ogłosić, że zapisy do turnieju Legends of Runeterra 2020 są otwarte! Odbędzie się on podczas głównego wydarzenia - turnieju z League of Legends.
                    <br />  <br />
                    Obowiązuje wpisowe w wysokości 10 zł od zawodnika.
                    <br />

                    Wpłata wpisowego osobiście do organizatora Jakub Owczarek.
                    <br />
                    <br />

                    Pozdrawiamy,
                    <br />
                    Organizacja EZSAT.
                </div>



                <div class="autor_container">
                    Autor: Jakub Owczarek
                </div>

                <div class="date_container">
                    Opublikowany: 06.02.2019
                </div>

            </div>
        </article>
</div>