@page "/Nowa Strona!"
@inherits CommentBase

<head>
    <link href="../css/post-details.css" rel="stylesheet" />
</head>

<div class="mainFlexContainer">
        <article class="post_container">

            <div class="title_container">
                <h3 class="post_title">Nowa Strona!</h3>
            </div>

            <div class="content-container-post">

                <div class="img-container-post">
                    <img class="top-img" src="../resources/NavbarLogo.png" />
                </div>

                <div class="paragraph">
                    Witajcie! Jest to nowa era dla naszej organizacji, nowy organizator, nowe gry z których przeprowadzimy (informacje już wkrótce!), w związku z czym odświeżamy dla was stronę.
                    <br />  <br />
                    Mamy nadzieję że nowy styl wam się podoba. Oprócz nowego interfejsu strony wprowadzamy dla was możliwość komentowania postów! Bardzo prosimy was o udzielanie się na stronach (przewidziane są nagrody dla najbardziej aktywnych użytkowników!).
                    <br /> <br />
                    Chciałbym bardzo podziękować całej organizacji Ezsat, oraz przede wszystkim wam! Gdyby nie wy, nasza organizacja nie istniałaby. Mamy nadzieję że wspólnie się będziemy rozwijać.
                    <br />
                    <br />
                    DZIĘKI!
                </div>



                <div class="autor_container">
                    Autor: Jakub Owczarek
                </div>

                <div class="date_container">
                    Opublikowany: 26.10.2019
                </div>

            </div>
        </article>
 </div>

