@page "/Ważne Informacje"
@inherits CommentBase



<head>
    <link href="../css/post-details.css" rel="stylesheet" />
</head>
<div class="mainFlexContainer">
    <article class="post_container">

        <div class="title_container">
            <h3 class="post_title">Ważne informacje</h3>
        </div>

        <div class="content-container-post">

            <div class="img-container-post">
                <img class="top-img" src="../images/ważne.png" />
            </div>

            <div class="paragraph">
                Witajcie!
                <br />
                <br />
                Ze względu na sprawy techniczne, maksymalna ilość drużyn została zmniejszona do 8!

                ZOSTAŁY 2 WOLNE MIEJSCA!
                ŚPIESZCIE SIĘ !!! 🏆
            </div>

            <div class="paragraph">
                Co oznacza że rozgrywki odrazu zaczniemy drabinkowo online! (więcej informacji na temat fazy online po zakończeniu zapisów.)

                Natomiast wydarzenie offline odbędzie się
                w Zespole Szkół Agro-Technicznych w Ropczycach
                już 24 marca!
            </div>

            <div class="paragraph">
                Rozgrywane tam będą:<br />

                - Półfinał League of Legends 5v5<br />
                - Finał League of Legends 5v5<br />
            </div>

            <div class="paragraph">
                Również chcemy powiadomić że turniej Legends Of Runeterra zostaje odwołany z powodu braku zainteresowania!

                Prosimy również o wpłacenie wpisu na rachunek

                RADA RODZICÓW przy ZESPOLE SZKÓŁ AGRO-TECHNICZNYCH im.Wincentego Witosa 39-100 Ropczyce,ul Mickiewicza 13

                <br />

                nr konta

                <br />
                65 9171 0004 0006 8909 2000 0010

                <br />
                nazwa_drużyny_szkoła<br />_turniejlol

                <br />

                Pieniądze wpisowe przeznaczymy m.in na wynajęcie sprzętu, nagrody w turnieju etc.

            </div>


            <div class="autor_container">
                Autor: Jakub Owczarek
            </div>

            <div class="date_container">
                Opublikowany: 19.02.2020
            </div>


        </div>
    </article>
</div>
