@page "/Tabela rozgrywek grupowych!"


<head>
    <link href="../css/post-details.css" rel="stylesheet" />
</head>
<div class="mainFlexContainer">
        <article class="post_container">



            <div class="title_container">
                <h3 class="post_title">Tabela rozgrywek grupowych!</h3>
            </div>

            <div class="content-container-post">

                <div class="img-container-post">
                    <img class="top-img" src="../resources/faza grupowa-standingsver2.png" />
                </div>

                <div class="paragraph">
                    Cześć!<br />
                    Mamy ogromną przyjemność zaprezentować wam tabelę grup w których drużyny będą rozgrywały mecze BO1, Grup jest 5 po 6 drużyn. Z każdej grupy wyjdą tylko dwie drużyny.
                    <br />  <br />
                    Pierwsze mecze które odbędą się 19.11
                    <br /> <br />
                    BlyatElite.GG vs 2.0CDTI 19.11 godz 17:00<br />
                    Kwas vs Gurbownica 19.11 godz 18:30<br />
                    Onaniści vs nonapewno 19.11 godz 20:00<br />
                    Bez Różnicy vs Blind Beavers 19.11 godz 21:20<br />
                    <br />
                    <br />
                    Dalsze mecze będziemy podawać codziennie, o godzinie 12:00
                    <br />
                    <br />
                    Drużyny które nie mogą zagrać w wyznaczonych terminach, prosimy o kontakt z nami przez FB w wiadomości prywatnej.
                    Chcielibyśmy tylko przypomnieć drużynom które nie zapłaciły wpisu że mają czas do 23/11 inaczej zostaną zdyskwalifikowane!
                    <br />
                    <br />
                    Drużyny które nie wpłaciły wpisu:<br />
                    -Onaniści<br />
                    -Kwas<br />
                    -Bez Różnicy<br />
                    -TurboBanany<br />
                    -ChudePstragi<br />
                    -Team alutec<br />
                    -9lives<br />
                    -Szoki<br />
                    -Gurbownica<br />
                    -Aspołeczni<br />
                    -ObrońcyWatykanu<br />
                </div>


                <iframe src="https://battlefy.com/embeds/5db5a0a3568d4456791d2a71/stage/5dcf22447744e65da97a7ef8" title="Battlefy Tournament - robin" width="100%" height="500" scrolling="yes" frameborder="0"></iframe>

                <div class="autor_container">
                    Autor: Jakub Owczarek
                </div>

                <div class="date_container">
                    Opublikowany: 18.11.2019
                </div>


            </div>


        </article>
</div>