@page "/Wyniki Cs-Go 2019"

<head>
    <link href="../css/post-details.css" rel="stylesheet" />
</head>

<div class="mainFlexContainer">
        <article class="post_container">

            <div class="title_container">
                <h3 class="post_title">Wyniki!</h3>
            </div>

            <div class="content-container-post">

                <div class="img-container-post">
                    <img class="top-img" src="../images/finały.jpg" alt="finały.jpg" />
                </div>

                <div class="paragraph">
                    Dzisiaj, tj. 06.12, zostały rozegrane finały w ZSAT w Ropczycach.
                    W pojedynku finalowym zmierzyły się SZOKI VS Piodżomy
                    z czego finałową drużyną została drużyna SZOKI!
                    <br />  <br />
                    Drugie miejsce oczywiście zajęła drużyna Piodżomy!
                    Natomiast na trzecim miejscu stanęła drużyna 9Lives!
                    <br /> <br />
                    Wszystkim bardzo serdecznie dziękujemy, graczom którzy wzięli udział w tym turnieju, naszemu zespołowi EZSAT, nauczycielom którzy pomogli nam zorganizować turniej, sponsorom którzy wsparli nasz turniej tj. Play, Pukawka.pl, Mk Piekarnia, Comax, Rożat Kebab, jakubbachorz.com, Biuro ubezpieczeniowe i kredytowe "MARTA", Mighty Five, Askonet, oraz Mrówka.
                    <br />
                    <br />
                    Jednakże chcemy podziękować przede wszystkim wam, widzom którzy w tak dużych ilościach dzisiaj się pojawili na auli. Przepraszamy za problemy z dźwiękiem które się pojawiły znikąd. W następnych turniejach spróbujemy wszystko jak najlepiej zrobić i postaramy się dla was przygotować o wiele lepszy turniej, jak i o wiele więcej pracować!
                    <br />
                    <br />
                    Pozdrawiamy,
                    <br />
                    Organizacja EZSAT.
                </div>



                <div class="autor_container">
                    Autor: Jakub Owczarek
                </div>

                <div class="date_container">
                    Opublikowany: 06.12.2019
                </div>

            </div>
        </article>
</div>
