@page "/League of Legends 2020"

<head>
    <link href="../css/post-details.css" rel="stylesheet" />
</head>
<div class="mainFlexContainer">
        <article class="post_container">

            <div class="title_container">
                <h3 class="post_title">League of Legends 2020</h3>
            </div>

            <div class="content-container-post">

                <div class="img-container-post">
                    <img class="top-img" src="../resources/plakat LOL.png" alt="finały.jpg" />
                </div>

                <div class="paragraph">
                    Ekipa Ezsat ma przyjemność ogłosić, że zapisy do turnieju League of Legends 2020 są otwarte!
                    <br />  <br />
                    Obowiązuje wpisowe w wysokości 50 zł od drużyny.
                    Kwotę wpłacamy do organizatorów na podane konto:
                    <br />
                    <br />

                    RADA RODZICÓW przy ZESPOLE SZKÓŁ AGRO-TECHNICZNYCH im. Wincentego Witosa 39-100 Ropczyce,ul. Mickiewicza 13
                    <br />
                    <br />

                    Nr konta 65 9171 0004 0006 8909 2000 0010 z dopiskiem nazwa_drużyny_szkoła_turniej_lol.
                    <br />
                    <br />
                    Istnieje również możliwość wpłaty wpisu osobiście do organizatora Jakub Owczarek.
                    <br />
                    <br />

                    Pozdrawiamy,
                    <br />
                    Organizacja EZSAT.
                </div>



                <div class="autor_container">
                    Autor: Jakub Owczarek
                </div>

                <div class="date_container">
                    Opublikowany: 06.02.2019
                </div>

            </div>
        </article>
</div>