@page "/Finały! CS-Go 2019"

<head>
    <link href="../css/post-details.css" rel="stylesheet" />
</head>
<div class="mainFlexContainer">
        <article class="post_container">

            <div class="title_container">
                <h3 class="post_title">Finały!</h3>
            </div>

            <div class="content-container-post">

                <div class="img-container-post">
                    <img class="top-img" src="../resources/Plakat_finały.png" />
                </div>

                <div class="paragraph">
                    Tak prezentuje się drabinka ćwierćfinałowa!
                    <br />  <br />
                    SquadChanger VS Szoki o 13:00, 5 grudnia
                    <br />  <br />
                    9Lives VS Vacation Team o 15:30, 5 grudnia
                    <br />  <br />
                    9Lives VS Vacation Team o 17:00, 5 grudnia
                    <br />  <br />
                    Bez Różnicy VS Obrońcy Watykanu 17:00 5 grudnia
                    <br />  <br />
                    nonapewno VS Piodżomy o 8:00, 6 grudnia
                    <br />  <br />

                    Półfinały, oraz finały odbędą się 6 grudnia.<br />
                    Drużyny mają stawić się godzinę przed przewidzianym meczem. W przypadku gdy drużyna spóźni się 10 minut na swój mecz, nastaje walkower dla drużyny przeciwnej.
                    <br /> <br />
                    Zawodnicy powinni zabrać ze sobą swoje wyposażenie do grania. Dopuszczalny jest jeden trener który ma obowiązek posiadać słuchawki które bardzo mocno wygłuszają otoczenie.
                    <br />
                    <br />
                    Podczas rozgrywki danej drużyny, zawodnicy mają zakaz wnoszenia jakichkolwiek napojów oraz telefonów na miejsce swojej rozgrywki.
                    Obszar załączników

                    <br />
                    <br />
                    <div class="img-container-post">
                        <img class="top-img" src="../resources/Cwiercfinaly_overlay (2).png" />
                    </div>

                    <br /> <br />
                    Mam zaszczyt zaprosić wszystkich chętnych do oglądania rozgrywek finałowych które odbędą się na auli w zespole szkół agro-technicznych w Ropczycach! W czwartek rozpoczynamy od godziny 13 natomiast w piątek już od 9!
                    <br />
                    <br />
                    Podczas przerw między rozgrywkami jest możliwość wygrania losowania który będzie dostępny dla każdego oglądającego! Do wygrania jest bardzo dużo dlatego zapraszamy każdego chętnego do oglądania!
                    <br />
                    <br />
                    Pozdrawiamy
                    <br />
                    Ezsat
                </div>





                <div class="autor_container">
                    Autor: Jakub Owczarek
                </div>

                <div class="date_container">
                    Opublikowany: 03.12.2019
                </div>


            </div>


        </article>
</div>
